{
    "color": {
        "primary_1": [96,167,151,255],
        "secondary_1": [253,253,237,255],
        "accent": [94,187,109],
        "font_1": [40,84,86,255],
        "font_2": [252,252,237]
    },
    "font_size": {
        "xs": 16,
        "s": 30,
        "m": 44,
        "l": 128
    },
    "font": {
        "district": ".\\Fonts\\Poppins-Light.ttf",
        "name": ".\\Fonts\\Montserrat-Light.ttf",
        "bold": ".\\Fonts\\Poppins-Regular.ttf"
    },
    "location": {
        "portrait": [58, 62, 503,662],
        "district": [556,52],
        "name": [555,89],
        "voting": [762,221],
        "rhetoric": [762,362],
        "donation": [762,500],
        "updated": [943,663]
    },
    "portrait_scale": [445,600]
}
